body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right,red,yellow);
}
.container {
  padding: 0 50px;
}
form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 20px;
  border: 1px solid black;
  margin: 20px;
  justify-items: center;
  box-shadow: 0 7px 10px 5px grey;
}
form input, textarea {
  margin: 10px;
  width: 90%;
  height: 20px;
  padding: 5px 8px;

}
.btn{
  width: 90%;
  background-color: skyblue;
  color: white;
  font-size: 30px;
}
.card {
  display: grid;
  width: 200px;
  height: 300px;
  border: 1px solid grey;
  margin: 10px;
  box-shadow: 0 3px 5px 2px rgb(70,73,70);
}
 